[2014-10-06 07:55] reinpeter opened #51 "Duration field does not accept 90m"
Jira accepts in time inputfields the syntax '90m', and will convert it automatically to 1h30.
The timetracker does not accept 90m in the duration field: 'invalid duration time'.

[2014-10-06 17:32] Enoliking opened #52 "Forbid multiple form submit"
The form can be easily submitted multiple times with slow internet connection or outstanding fast-clicking skills.

[2015-02-23 10:26] erosb opened #54 "Worklog entry is deleted if assigned to a non-accessible issue during editing"
Hello,

I found that the timetracker deletes a worklog entry if I try to re-assign it to an issue I don't have access to

Steps to reproduce
------------------------
- click the "edit" button of a worklog entry
- change the issue to an other issue you don't have access to (something that yields "Permission Violation" if you want to open it)
- click the "save" button

Actual behaviour
-------------

[2015-02-26 14:25] balazs-zsoldos commented on #52
Fixed in 1.4.0 and 2.1.0

[2015-02-26 14:25] #52 closed

[2015-02-26 14:26] balazs-zsoldos commented on #54
It was a security problem. The worklog was moved to other project as there was write permission on it, but than the worklog could not have been read as there was no read permission on the other project.

[2015-02-26 14:26] #54 closed

[2015-02-26 14:27] balazs-zsoldos commented on #51
Fixed in 1.4.0 and 2.1.0

[2015-02-26 14:27] #51 closed

[2015-03-04 08:23] balazs-zsoldos opened #60 "Worklogs in Table and Chart report are not shown (1.4.0)"
Worklogs are not shown on Table and chart report. Probably because of user e-mail has benn changed.

[2015-03-09 15:32] balazs-zsoldos opened #63 "Deleting worklog does not appear in the audit tables of Jira"
The delete worklog function is called in the way that it is not audited.

[2015-06-16 12:19] #63 closed

[2015-10-19 11:43] czsefira opened #79 "Labels missing for unsupported languages"
If I switch JIRA to a language not supported by TimeTracker (1.4.1), e.g. Czech, the label name is displayed for page components rather than a default English text. For example, the Submit button will display "plugin.submit" instead of "Submit".

[2015-10-20 10:52] bordatesz commented on #79
Thank you for the notification. This problem will be fixed in the next release. Please, keep an eye on it.

[2015-11-12 16:05] attila-kiss-it commented on #60
Solved.

[2015-11-12 16:05] #60 closed

[2015-11-25 11:05] bordatesz commented on #79
Fixed in version 1.4.3
You can download it from the [marketplace](https://marketplace.atlassian.com/plugins/org.everit.jira.timetracker.plugin/versions).

[2015-11-25 13:47] #79 closed, assigned to bordatesz

[2015-12-02 04:26] BobVul opened #133 "Missing days report doesn't use JIRA configured working hours per day"
The option "Check the worklog spent time is equal or greater to 8 hours." in Missing Days Report seems to use a hardcoded 8 hours: https://github.com/everit-org/jira-timetracker-plugin/blob/v2.x/src/main/java/org/everit/jira/timetracker/plugin/JiraTimetrackerPluginImpl.java#L788

However, JIRA Time Tracking allows you to configure working hours per day: https://confluence.atlassian.com/jira/config

[2015-12-02 16:03] bordatesz commented on #133
Thank you for the notification. This fix will be part of the next release.

In the future, we plan to add a new feature where working hours per day can be set individually for each user, if it differs from the global configuration. (e.g. for a trainee) Would you find this feature helpful?

[2015-12-02 22:31] BobVul commented on #133
Thanks!

Per-user working hours sounds like it could be useful (we do not currently have anyone on different hours, though that might change). Just having the global option would be a large improvement already.

[2015-12-06 22:40] BobVul commented on #133
In fact, it seems like the rest of the plugin also uses a hardcoded 8 hours per day. For example: https://github.com/everit-org/jira-timetracker-plugin/blob/31155350da213ac96665c2511349ddfd2c5f1a93/src/test/java/org/everit/jira/timetracker/plugin/DurationBuilder.java#L27

This is apparent if we try to use the Table Report. For example, if we have 7.5 hours per working day in the JIRA global settin

[2015-12-07 10:52] bordatesz commented on #133
It's not necessary. We recognized these too, so I made issues in our JIRA system to eliminate all of these hardcoded values and use the global settings instead. I will notify you here if we finished with it. Please, keep an eye on it!

[2016-01-18 17:11] bordatesz commented on #133
Hi there!
This issue is fixed in version 2.3.0, which is available on the marketplace: https://marketplace.atlassian.com/plugins/org.everit.jira.timetracker.plugin/server/overview

[2016-01-18 22:42] BobVul commented on #133
Thanks for the update, @bordatesz

There seems to be a bug: we have Time Tracking configured to 7.5 working hours per day, but the Timetracker plugin table shows what seems to be 7 hours per day. On a day with 7.5 hours of work logs entered, it says "Day     (1d 0h 30m) ". With 7 hours entered, it says " Day  (1d 0h 0m)".

Unfortunately, I am unable to test different working hours as this is a pro

[2016-01-18 22:50] BobVul commented on #133
For reference, here are our current Time Tracking settings:

[2016-01-19 08:36] bordatesz commented on #133
You are right. There is a bug with fractional numbers.
We are working on it, and i hope we can release a bugfix in a few days. (maybe today)

[2016-01-20 15:39] bordatesz commented on #133
Hi @Elusive138!
We are ready, and it's fixed in version 2.3.1
Please let me know whether it is working properly!

[2016-01-21 02:50] BobVul commented on #133
Seems to work well. Thanks!

[2016-02-01 17:20] andre-c-andersen opened #162 "java.lang.NullPointerException in EveritWorklog line 153"
We are experiencing a 500 response with a null pointer exception when getting `http://jira/secure/JiraTimetrackerTableWebAction.jspa?dateFrom=2016-01-29&dateTo=2016-01-29&userPicker=andre.andersen`

The following relevant trace was generated:

[code]

It looks like `issueObject` in the constructor of `EveritWorklog` gets assigned `null` from the `issueManager` as described [here](https://docs.atla

[2016-02-01 23:31] BobVul commented on #133
@bordatesz While the number of days is correctly counted in the Table Report now, it looks like the Missing Days Report is still incorrect:
1. Set working hours per day to 7.5 (7h 30m)
2. Fill in 7h for one day
3. Run Missing Days Report with "Check the worklog spent time is equal or greater to the time is expected a day."

The 7h day (30m missing) does not show up. Looks like the Missing Days Rep

[2016-02-02 08:15] bordatesz commented on #133
Sorry, we overlooked it, but it will be fixed soon. We are not planning a release in the next few days. Can you clone/download Timetracker and build it for yourself?

[2016-02-02 08:38] bordatesz commented on #162
Hi there!
We'll check it. Can you tell me which Timetracker and JIRA version you are using?

[2016-02-02 11:46] andre-c-andersen commented on #162
Awesome! It first occurred using Timetracker 2.3.0, but upgraded to 2.3.1 in hopes that it would fix the issue. The JIRA version is 6.4.6 build 64021 on java 1.8.0_40 from Oracle. I hope that helps.

[2016-02-02 12:35] bordatesz commented on #162
Thank you! We try to reproduce the problem.
I'll let you know as soon as we are done whit the fix.

[2016-02-02 13:02] andre-c-andersen commented on #162
It might be connected to deletion of issues with work logged on it, or something similar. If that helps.

[2016-02-08 23:24] BobVul commented on #133
Seems to work in 2.3.2-SNAPSHOT.

Thanks!

[2016-02-09 09:38] bordatesz commented on #133
Yes, the snapshot contains the fix. Your welcome!

[2016-02-10 09:28] bordatesz commented on #162
Hi there! We tried to reproduce this bug, but even if we deleted issue from the database, it's not occurs. However we expanded the exception handling in the actual 2.3.2-SNAPSHOT version. Please try it out, and let us know if the problem still occurs.

[2016-02-15 10:00] andre-c-andersen commented on #162
2.3.2 isn't available in the market place. The error occurs for multiple users, not only me. Unfortunately this means we cannot use the tool. We will thus implement our own views using QlikView, or look for a different solution, and discontinue the everit timetracker. Thank you for your efforts with this open source project. We might try it again at a later time.

[2016-02-15 10:44] bordatesz commented on #162
2.3.2 is a SNAPSHOT version, so it's not have been released. You can download it from the master branch, or if you provide me an email address, I can send you the compiled JAR file for test the fix. Because there there is not much bugfix in this scope, we don't plan marketplace release soon.

Please watch our plugin in the Marketplace to get notification for the next release, or (as I mentioned ea

[2016-02-23 12:50] #133 closed, assigned to bordatesz

[2016-03-02 23:53] #162 closed, assigned to bordatesz

[2016-03-03 11:29] diuus opened #169 "Bad conversion of the reported time if both start and end times are behond 12:00"
Hi,

I tried the development version.
If I introduce an interval 10:00 -> 15:00 everything is OK.
If I introduce an interval 14:00 -> 15:00 it converts it to 2:00 -> 3:00.

Best regards,
    Gil

[2016-03-03 11:39] bordatesz commented on #169
Hi Gil!
You are right, this bug really exist. We'll look into it.
Thank you for the notification!

[2016-03-03 14:22] bordatesz commented on #169
@diuus Fixed it in [this commit](https://github.com/daniel-toth-everit/jira-timetracker-plugin/commit/19c4767c41601e88b19f90f23900c75cce569768). Please let me know if further problems occur.

[2016-03-04 11:48] #169 closed, assigned to bordatesz

[2016-04-14 20:13] a-aristar opened #191 "Jira base URL is not considered in worklog table entries"
Hi!
In case base URL was changed for Jira instance, a link to an issue within worklog table displayed incorrectly - using default Jira settings, i.e. root context.
For example, Jira base URL is http://example.com/jira. In this case a link to and issue will look like http://example.com/jira/browse/ISSUE-1. But workloag table displays the link like http://example.com/browse/ISSUE-1.

TimeTracker ver

[2016-04-15 09:11] #191 closed, assigned to bordatesz

[2016-04-15 09:52] bordatesz commented on #191
Hi there!
Thank you for the notification. We left this out from the tables, but now it's fixed.

[2016-05-11 17:01] mickyr opened #221 "Shadowed users cause the plugin to fail"
This should be applicable to the worklog query plugin as well.

**Criticality is very high** as the reporting part of the plugin simply fails to work.

Problem: If the jira installation has or had multiple user directories(jira, crowd, ldap etc.) with one or more users being present in multiple directories, the reporting part of the plugin fails(go to reporting and try generating report with any p

[2016-05-11 17:19] balazs-zsoldos commented on #221
Thanks for reporting this!

[2016-05-11 19:06] bordatesz commented on #221
Thanks for the detailed report! This will be treated with the highest priority.

[2016-05-11 21:35] mickyr commented on #221
Thank you, I really appreciate the quick response. Please let me know if I can help by providing any further details.

[2016-05-18 15:09] bordatesz commented on #221
Hello @mickyr!
Thank you for your patience. We made two pre-release tags and uploaded the binaries with the fix.
- [v3.0.1-RC](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v3.0.1-RC) for JIRA 7.x
- [v2.4.1-RC](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v2.4.1-RC) for JIRA 6.3.x-6.4.x

May I ask you to install and test the right version for your JIRA, a

[2016-05-20 14:02] mickyr commented on #221
Thanks for the quick resolution. I will install and test the pre-release tags early next week in our environment.

[2016-05-26 08:41] bordatesz commented on #221
Hi @mickyr!

Did you manage to try the fixes?

[2016-06-01 13:02] bordatesz commented on #221
We released 3.0.1 and 2.4.1 versions on the Atlassian Marketplace with the fix, so I'm closing this Issue. If there is any problem in the future, feel free to reopen it!

[2016-06-01 13:03] #221 closed, assigned to bordatesz

[2016-06-01 14:06] mickyr commented on #221
Apologies for the late response. I know that this is already closed but I just wanted to inform that I did test and can confirm that your fix works in our environment. Thanks a lot for your help and for maintaining this excellent plugin. You guys are more responsive than a lot of paid plugin vendors.

[2016-06-02 11:09] bordatesz commented on #221
No problem. Glad to hear it worked! :)

[2016-06-06 17:07] mcassidygamma opened #246 "500 when generating reports"
I've recently installed this plugin on our test instance of Jira to try it out.

The time logging aspect works fine, but when attempting to generate a report (clicking time tracker, choosing reporting), selecting projects ect, and pressing "create report" the resulting page is a 500 error.

I'm using Jira Software v7.1.7#71011-sha1:2526d7c

The following is from the log file:

[code]

[2016-06-06 18:47] bordatesz commented on #246
Hello @mcassidygamma!

We'll look into it! Can you give me some further technical information as:
- Which Timetracker version did you use?
- What kind of database are you using with the test instance?

[2016-06-07 08:01] tbitowt commented on #246
Hi,
I have same problem.

I'm using:

- hsql database (HSQL Database Engine Driver 1.8.0)
- TimeTracker versio 2.4.1

[2016-06-07 08:06] mcassidygamma commented on #246
I'm using 3.0.1 with Microsoft SQL server 2012

[2016-06-07 08:08] tbitowt opened #247 "Exception when generating report"
Hello,

I'm getting similar exception as a previous bug, but it's not the same, so I'm creating other bug.

I'm using:
- Jira version v6.4.4#64019-sha1:7dfd03b
- DB - HSQL Database Engine Driver 1.8.0
- TimeTracker v. 2.4.1

The error is shown when I'm trying to generate report (does not matter which data I'm including in it)

The error message is:

`com.querydsl.core.QueryException: Caught SQLExc

[2016-06-07 19:03] bordatesz commented on #246
@mcassidygamma
Thank you. We are working on it.

[2016-06-07 19:08] bordatesz commented on #247
Hi there!
It was a goog idea to open a new Issue for this. :)
Are you using HSQL Database with your production JIRA or with a test JIRA instance?

[2016-06-08 15:57] dados77 opened #252 "Service Desk"
It is possible to use TimeTracker for Service Desk project?

[2016-06-08 19:53] bordatesz commented on #252
Hi there!

Can you give me some further technical information as:
- Which Timetracker, JIRA and Service Desk version do you use?

I tested Timertracker 3.x with our JIRA 7 and with JIRA Service Desk 3 and it's worked. Each service desk you create with JIRA Service Desk is based on a JIRA project. Service Desk provide additional components, workflows, etc., but this does not affect the work logging

[2016-06-09 05:25] sagarb2 opened #253 "All the work logs are not displayed in the interface"
There are 4 Work logs made on same issue by the same user but only 3 are displayed in the interface.
Work logs on an issue:
1h; 30m; 2h; 3h
Work logs displayed in Timetracker interface:
30m; 1h; 3h
Table report and Chart report has the correct values and even in the interface, Summary for day has 6h 30m

![image](https://cloud.githubusercontent.com/assets/19823582/15919635/ce28ada6-2e30-11e6-8503-

[2016-06-09 08:14] dados77 commented on #252
Hi.

Thanks for reply. We use same configuration that you Jira 7.1.0 build 71003 and Service Desk 3.1.7
we have a lot of project and costumized user Group. For istance user Group that have access to service desk is not reported in user Group that Timetracker offers

[2016-06-09 09:25] bordatesz commented on #253
Hi there!
This is a strange behaviour. It seem the data is there, but the table did not render right.
- Is this also occurs for multiple users?
- Do you see this worklog on the Issue's Work Log screen?
- The entries include notes in the production system?
- Did you try it out with different browsers? (Maybe this is a JS error.)

[2016-06-09 09:36] bordatesz commented on #252
If I understand correctly, you have a JIRA group with some Service Desk role, eg. 'Service Desk Team'.
Could you tell me where is the problem exactly occours in the Timetracker? Eg.:
- You can't choose this group in the Reporting's group picker?
- You can't choose this group on the Timetracker admin site?
- Maybe the members of this group can't see add/see worklog on Timetracker page?

[2016-06-09 10:01] sagarb2 commented on #253
Hi,

Yes, the data is there but the table did not render it.

Is this also occurs for multiple users?
Yes
Do you see this worklog on the Issue's Work Log screen?
Yes
The entries include notes in the production system?
If you were asking about the notes mentioned while logging work then the answer is no. Please let me know if you are looking for other information
Did you try it out with different b

[2016-06-09 10:18] dados77 commented on #252
Yes, it is correct we have a Group name service-desk-agent
- When I open reporting's Group I cannot see that Group name.
- Yes I can to decide to assign use of Timetracker only to this grupo, so on global configuration I see this user Group
- User of this Group when use timetracker cannot see anything associated by them name

[2016-06-09 10:44] dados77 commented on #252
Sorry, I understand the misconfiguration.

I new on Jira software and I see that this plugin work on worklog. On project that don't display anything there are nor worklog registered data so there are anythings to display.

I search for a plugin that don't use a worklog but calcuate how many time has been assigned to a specify user or how many time stay on particular state

[2016-06-09 11:13] bordatesz commented on #252
Yes, the Timetracker plugin designed and developed for work log management in JIRA. So your Service Desk Agents can log easily the time that they worked on a customer request, and you can make reports about these time efforts. But the plugin does not calculate issue assign number or in state time. For this functionality I can advise you this article: [Link](https://confluence.atlassian.com/jira062

[2016-06-09 12:26] bordatesz commented on #253
Unfortunately, we can not reproduce the problem, so if you do not mind, I ask a few more questions:
- Are these worklogs added by the Timetracker?
- What happens if you add worklog one after another? After which step is this entry disappearance happening?
- Did you use any other time tracking plugin in the past?
- Is the worklog allowed all users to view? (You can check this on the Issue Work Log

[2016-06-09 12:44] sagarb2 commented on #253
Hi,
- I saw this issue when I entered work logs using Timetracker and also when entered on Issue view page.
- It varies, sometimes I get this issue when I enter 4 records and sometimes 3 records
- We are using JIRA Timesheet Reports and Gadgets Plugin also
- Yes
- Below is the excerpt from the console. The display is set to none for the record which is not displayed

![image](https://cloud.githubu

[2016-06-09 13:24] bordatesz commented on #253
Based on your screenshot, something in your JIRA overwrite the global user agent stylesheet. We don't use inline style in Timetracker's table rows, but you have a "style=display: table-row" and the "none" in the table row tags. I attached a screenshot where you can see how it should look like. I highlited the style source, which in the optimal case is the 'user agent'. I suppose this is where you

[2016-06-09 13:43] sagarb2 commented on #253
Yes, I downloaded it from Atlassian Marketplace. When is the next release where you will be using Atlassian stylesheet?

[2016-06-09 13:52] bordatesz commented on #253
We plan to release the new design within one or two months.
Did you check what is overwriting the user agent stylesheet on the 'tr'? If this caused by an add-on, you can disable it and use Timetracker now.

[2016-06-09 16:13] bordatesz commented on #253
@sagarbarakam
Sorry, it was invalid what I wrote above. Inline style cannot be added with outer stylesheet. This can be happen in two case: 1. Somebody modified our source code. 2. Something inject it with javascript. Now, in the latter case, this can be caused by many things: broswer plugin, your office IT settings, modified javascript somewhere, viruses, etc. Please test Timetracker with another

[2016-06-10 10:35] #252 closed, assigned to bordatesz

[2016-06-13 05:12] sagarb2 commented on #253
Hi, we were able to identify the root cause of this issue. It was because of another custom plugin which we have developed. When we disable that plugin we were able to see all the records in timetracker.

[2016-06-13 09:21] bordatesz commented on #253
Hi there!
I am glad that we managed to identify the problem! :) Be sure that your custom plugin does not overwrite any global style and it'll work. I'm going to close this issue, but feel free to repoen it or contact me if you have any further question!

[2016-06-13 09:22] #253 closed, assigned to nobody

[2016-06-13 12:15] bordatesz commented on #246
Hello @mcassidygamma!
Thank you for your patience. We made a pre-release tag and uploaded the binaries with the fix.
- [v3.1.0-RC for JIRA 7.x](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v3.1.0-RC)

May I ask you to install and test this version and give me a feedback?

[2016-06-13 12:18] bordatesz commented on #247
Hello @tbitowt!
Thank you for your patience. We made a pre-release tag and uploaded the binaries with the fix.
- [v2.5.0-RC for JIRA 6.3.x-6.4.x](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v2.5.0-RC)

May I ask you to install and test this version and give me a feedback?

[2016-06-15 09:02] bordatesz commented on #247
Hi @tbitowt!
Did you manage to try the fixes?

[2016-06-15 09:02] bordatesz commented on #246
Hi @mcassidygamma!
Did you manage to try the fixes?

[2016-06-15 10:18] mcassidygamma commented on #246
Hi @bordatesz
I've tried it out this morning and it looks good. I can generate reports successfully now.
Thanks!

[2016-06-15 10:31] tbitowt commented on #247
Hi,

this pre-release fixes the problem. Thanks!

[2016-06-15 10:31] #247 closed, assigned to nobody

[2016-06-15 10:35] bordatesz commented on #247
Glad to hear it worked! :) The official fix be released in a few days on the Atlassian Marketplace.

[2016-06-15 10:36] bordatesz commented on #246
Glad to hear it worked! :) The official fix be released in a few days on the Atlassian Marketplace.

[2016-06-15 10:36] #246 closed, assigned to nobody

[2016-06-20 08:11] balazs-zsoldos opened #272 "Start time is reset when there is no permission to log on issue"
Reproduce:
- I set the start time and end time of the log (or duration)
- I try to save the worklog but I do not have permission to log onto an issue
- The start time is different than the original (and probably duration is lost, too)

[2016-06-20 08:13] balazs-zsoldos opened #273 "Convert the issue name to a link in error messages"
When there is an error message (e.g.: no permission to log on issue), it would be helpful if the name of the issue would be a link. By having that, I could simply click on the link and resolve the error. Now I have to open a new tab, open a jira in it and type the issue ID into the search field.

[2016-06-20 11:14] bordatesz commented on #272
We'll look into it!

[2016-06-20 11:15] bordatesz commented on #273
This is already in our backlog and it will be in the redesign release.

[2016-06-21 13:33] #273 closed, assigned to bordatesz

[2016-07-10 20:47] asztal opened #298 ""Unparseable date" errors when using UK date format"
Jó estét,

Apologies if I am doing something stupid here, but I'm having a problem when browsing to a specific date on the time tracker. I get an error viewing this URL: https://jira.thecompanyiworkfor.com/secure/JiraTimetrackerWebAction.jspa?dateFormatted=10/07/2016

This could be because I've changed the date format for JIRA's date pickers to be UK format. I think the changes I've made are corre

[2016-07-11 08:28] bordatesz commented on #298
Hi there!

I don't think you did anything stupid. :) We'll look into this because it should work after date format change.

[2016-07-12 09:42] bordatesz commented on #298
Hello @asztal,

Unfortunately, we didn't able to reproduce the problem. With the same settings as yours, we didn't dedect any irregularity.
Is this occours for one sepcial day, or Timetracker doesn't work at all?
Can you please reinstall the plugin and see if it's help?

[2016-07-12 16:58] asztal commented on #298
Thanks for your response, I'll try reinstalling the plugin.

It seems to be any day. I can only look at my time entries for today because the "formattedDate" query parameter is not set when you first open the time tracker.

Here's the form data sent (when I clicked the ">" button):
date:12/07/2016
dayNext:>
endOrDuration:end
startTime:18:03
endTime:17:43
comments:

And in another instance (I selec

[2016-07-12 16:59] asztal commented on #298
My user profile has the locale set to "English (UK)", if that's any help. I tried some others but it made no difference.

[2016-07-19 10:38] bordatesz commented on #298
Hello @asztal!

Is this problem still exists? We tried several ways, but we weren't able to reproduce the problem. I suspect that the source of the problem is not the Timetracker.

[2016-07-19 12:01] asztal commented on #298
It's still happening for me, yes (I did try re-installing the plugin, but it made no difference). If I had all the time in the world, I would set up a development version of JIRA and see if I can replicate it. As it is, I doubt that I will have enough time to investigate this in that level of detail.

If you want to close this issue or mark it as low priority, go ahead - I have a sort-of workaroun

[2016-07-19 12:42] bordatesz commented on #298
I'm glad to hear that it's still useful to you, and I'm sorry we weren't able to solve this issue. If any other user will report this, or we make some progress, I will notify you immediately.

[2016-08-05 07:29] fortax opened #312 "Invalid Start Time on Reporting"
I'm unable to create a Report. When I click "Create Report" it appears the error message "Invalid Start Time". Any Tips?

![timetracker](https://cloud.githubusercontent.com/assets/1496766/17429485/1137d5f0-5aef-11e6-97ef-5edbbe6017e3.jpg)

[2016-08-05 09:39] daniel-toth-everit commented on #312
Hi there!

Thank you for your report! We are aware of the issue and actively working on a solution. We are doing our bests to fix this in our next release.

Until then, you can use the following work around. Change your date separator from dot to something else, for example to slash. You can do this at the "Look and Feel" Administration page by modifying the Day/Month/Year Format parameter value..

[2016-09-06 13:32] bemace commented on #312
We're also seeing problems respecting our date format settings. In our case, it insists on having leading zeros for the day and month regardless of our settings.

[2016-09-06 13:54] bordatesz commented on #312
Hi there!
I apologize for the late update. We are working on this, but because of other tasks, we were not able to finish and publish the bugfix release. Now I can say that the fix will be released within a week or two.
Thank you for your patience.

[2016-10-06 10:56] bordatesz commented on #312
Hi there!
Sorry for the late update. This is fixed in the latest release: [3.2.0](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v3.2.0), [2.6.0](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v2.6.0)

[2016-10-06 10:56] #312 closed, assigned to daniel-toth-everit

[2016-10-06 10:57] bordatesz commented on #298
Hi there!
Sorry for the late update. This is possibly fixed in the latest release: [3.2.0](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v3.2.0), [2.6.0](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v2.6.0)

[2016-10-06 10:57] #298 closed, assigned to nobody

[2016-10-06 10:57] bordatesz commented on #272
Fixed in the latest release: [3.2.0](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v3.2.0), [2.6.0](https://github.com/everit-org/jira-timetracker-plugin/releases/tag/v2.6.0)

[2016-10-06 10:57] #272 closed, assigned to bordatesz

[2016-10-06 11:49] asztal commented on #298
It certainly seems so! Thanks so much for your great work. I love the new user interface too.

[2016-10-06 12:16] bordatesz commented on #298
I'm happy to hear that! :)

[2016-10-12 08:08] pchovanak opened #382 "Idea - Issue name"
We would like to have possibillity to see whole name of the issue in the column "Issue". The key of the issue is useless for us.

Thanks

[2016-10-12 08:28] bordatesz commented on #382
Hi there,
Thank you for your feedback. Do you want this improvement for the Timetracker screen?

[2016-10-12 08:34] pchovanak commented on #382
Yes, for the Timetracker screen.
Thanks

[2016-10-12 08:45] balazs-zsoldos commented on #382
Very old versions of timetracker contained the issue subject in each line. However, long subjects made it hard to read the data in the table. Therefore it is accessible via the tooltip at the moment (if you move your mouse over the issue id).

@bordatesz We could probably show a truncated part of the subject based on user preferences.

[2016-10-12 08:49] pchovanak commented on #382
It is still better to see at least half of the issue name than issue key. We know about the tooltip, but it is not comfortable when you have 10 issues during the day and when you need the glimpse of what you already logged.

[2016-10-12 09:41] bordatesz commented on #382
As Balázs said, this is a design matter.
We will investigate how we can properly display the Issue summary on the screen, but I would like to ask for your patience because we just released the Timetracker with the new design last week, and we want to collect feedbacks about it first.

[2016-10-13 10:43] pchovanak commented on #382
Thanks, we will wait.

One more comment - my colleagues would like to have option to show (pernamently) the calendar as it was in the older version. Considere it just as comment. I can imagine that from the designer (GUI/UX) point of view it could be not so good idea.

Regards

[2016-10-13 10:54] bordatesz commented on #382
Thank you, and all feedback/comment is welcome! We have an idea for the permanent calendar too if it will be requested by more users. I'll notify you here if we decide to develop it.

[2016-10-20 09:09] konstantinkosev opened #403 "Not correct date after click on today button and switch"
Hello,

I am facing the following issue (frankly, it's not a big deal, but somehow is annoying):
From timetracker I click today button, then click a button to change the day to the previous or next one. In case I select previous day, it pulls me two days before today. In case I select 'tomorrow' it is showing the current day.

Would you please check what is going wrong here?

Not a browser issue,

[2016-10-20 09:16] bordatesz commented on #403
Hello there,
Can I ask you what version do you use?
This is possibly related to the TimeZone problem we fixed in the latest [release](https://marketplace.atlassian.com/plugins/org.everit.jira.timetracker.plugin/server/versionhistory).

[2016-10-20 09:26] konstantinkosev commented on #403
Hi Bordatesz,

Thanks for the prompt reply. The version is 3.2.1.
Can you try is the same happens in your system?

Best regards,

[2016-10-20 11:13] bordatesz commented on #403
@konstantinkosev
We can't reproduce this behavior. We suspect that the cause is wrong server time on your side.  To confirm this, please open the Log Work dialog from Issue screen and check if the DateTime is correct for today.
![image](https://cloud.githubusercontent.com/assets/5459077/19557618/eae743ea-96c6-11e6-8941-83899cd1b453.png)

[2016-10-21 07:37] bordatesz commented on #403
@konstantinkosev
Did you able to check the default Log Work date? If that is correct, but the Timetracker is still behaving incorrectly, we will investigate further.

[2016-10-21 08:34] konstantinkosev commented on #403
@bordatesz Thanks for the proactive handling of the problem.
At the moment we had an outage so it is not possible to check. Most likely the time/date settings of the Jira srv are correct. Also the date time settings via the Jira interface was correct when I opened last time.
Any idea what else can affect the behavior? Also if there is misalignment for time/date settings they should be with one day

[2016-10-21 10:03] bordatesz commented on #403
@konstantinkosev
To reproduce the problem, I would like to ask a few questions:
- What is the date and time on your JIRA server?
- What language is used in your JIRA?
- What Timezone is set in your [profile](https://confluence.atlassian.com/jira064/choosing-a-time-zone-720416101.html)?
- What date and time format have been set in the [Advanced settings](https://confluence.atlassian.com/adminjirase

[2016-10-26 08:24] konstantinkosev commented on #403
@bordatesz

1st one - you mean server OS ?
2 - English.
3 - In my profile GMT +2, other users with other timezone set in their profile have the issue too.
4 and 5 - attached screenshots.
![pasted image at 2016_10_25 14_10 1](https://cloud.githubusercontent.com/assets/22954803/19718617/bdad442c-9b6e-11e6-8d55-27d18299079d.png)
![pasted image at 2016_10_25 14_10](https://cloud.githubusercontent.com/

[2016-10-26 09:22] bordatesz commented on #403
@konstantinkosev
- Yes, I mean the servers OS system time. That is a very important piece of info for us.
- Did you able to check the DateTime field on the default Log Work screen?
  Thank you for the rest of the information.

[2016-10-28 10:26] konstantinkosev commented on #403
Hi @bordatesz

We found out that we have a bit miss-configured OS D/T settings. When we apply the change will let you know is that help solve us the issue.

Again, many thanks for the efforts here.

[2016-10-28 12:30] rylach opened #409 "Ability to track time without issue"
Many time trackers enable to track time without specifying exact task a'priori (but they cannot export time directly to Jira  ).
It would be nice to do the same on ictimeTimeTracking. It would be very helpful to be able to fast start timer with some label/keyword and at the and of day distribute it to different issues.

[2016-10-28 13:49] balazs-zsoldos commented on #409
Hi @rylach,

what about creating a dummy issue for that (probably in a dummy project)? E.g.: DUMMY-1. By doing that, DUMMY-1 worklogs can be part of any reports in Jira.

We use issues for holidays and non-working activities, too and we found it very helpful.

Regards,
Balazs

[2016-10-28 16:07] bordatesz commented on #409
@rylach
Hi there! Didn't you accidentally mix us with the ictime add-on? :)
If not: We are already considering the automatic time tracking feature, but we did not plan to implement it in the near future. Can I ask you, how important is this feature for you?

[2016-10-28 16:18] bordatesz commented on #403
Hi @konstantinkosev
Thank you, let me know the result of the configuration change.
In the meantime, we continue to the investigation of this issue.

[2016-10-30 08:12] rylach commented on #409
We'are considering both of you ;-)
We really seek for one time tracker for all. Some of us (in our company) are using hamster (automatic tracking, but has to be patched to export to Jira, and harder to use on Windows desktops). It seems to be the best solution for linux users.
Others are using Tempo tracker - automatic tracking, but inconvenient/hard editing of already tracked time.
I think, that

[2016-10-31 19:30] bordatesz commented on #409
Hello @rylach
Thank you for considering us too and we are very happy about it. :)
We can offer our easy to use interface where worklog can be added or edited.

The automatic time tracking solution with labels will be indeed a powerful feature and I added it to our backlog, but unfortunately it will be developed at some time in the future, maybe in the next year.
In the meantime, whether if your ch

[2016-10-31 20:27] bordatesz commented on #382
Hello @pchovanak
We added a feature, which you can choose whether you want to display the Issue Summary or the Issue Key on the Timetracker screen. The new version will include this, which will be released within a week.

[2016-11-01 18:47] rylach commented on #409
Thank you for you reply. Meantime, maybe we'll be able to find some developer to contribute...

Best Regards,
Ryszard.

[2016-11-02 09:37] bordatesz commented on #409
@rylach
Indeed, therefore I leave this Issue in open state.
Regards,
Attila

[2016-11-02 09:39] bordatesz commented on #403
@konstantinkosev
Hello there! Did the re-configuration solve this Issue?

[2016-11-02 10:10] konstantinkosev commented on #403
Hi @bordatesz,

For regrets it does not work as it should. The linux settings are from Jira srv, the win one - from DB.

Also to be clear - did you try to click Today just before trying to move one day in the past?

Best regards,
Kosta

<img width="474" alt="screen shot 2016-11-02 at 11 01 47" src="https://cloud.githubusercontent.com/assets/22954803/19924561/1eea4600-a0f5-11e6-9e95-9a5d261ed639.pn

[2016-11-02 13:43] bordatesz commented on #403
Hi @konstantinkosev
We identified the cause of this problem and working on the fix. At present, the Timetracker takes into account only the server time, regardless of time zone, and there is a date parse bug too.

There are two ways to handle worklog datetimes:
- "JIRA treats all date/time fields as absolute points in time stored as UTC and converted to and from the user's timezone during input or

[2016-11-03 09:05] konstantinkosev commented on #403
@bordatesz

Yes, option one makes more sense from my PoV too.

Cheers,

[2016-11-08 11:43] pchovanak commented on #382
Thanks @bordatesz. Looking forward to it!

[2016-11-14 16:07] bordatesz commented on #382
Hello @pchovanak ,
We released the new version which includes this selectable Issue Key/Summary column option in Timetracker. Let me know how you like it.

[2016-11-15 18:48] a-aristar opened #424 "Worklog edit is broken"
It looks like 3.3.0 and 3.3.1 versions have significant problem.
I can't edit existing worklog entry.
If I click edit entry followed by Now button, End Time contains string: "TU.10.YYYY 21:35"
If I switch to Duration field (entering, say, 00:02) and try to save entry, I hit an error:
Invalid Start Time! (and nothing in atlassian-jira.log)

BTW, Start time field contains 15.11.2016 17:23

If I leav

[2016-11-16 09:41] bordatesz commented on #424
Hello @a-aristar ,
It seems you have a misconfiguration. The name is misleading, but the jira.lf.date.time should only contains the time format (see [here](https://jira.atlassian.com/secure/attachment/14498/jira-application.properties)). In your case: jira.lf.date.time = HH:mm

The following properties are the equivalent of the [Look and Feel](https://confluence.atlassian.com/adminjiraserver071/co

[2016-11-16 10:10] a-aristar commented on #424
Thanks. Now it works fine.

[2016-11-16 10:10] #424 closed, assigned to nobody

[2016-11-16 10:15] a-aristar opened #425 "Fix minutes representation as minutes and not decimal fraction of hour"
Hi!

In some cases Timetracker window displays minutes as minutes and sometimes as decimal fraction of hour. For instance, 30 minutes are always displayed as 0.5h
Is it possible to fix minutes representation in minutes format. Various representation is quite inconvenient.

[2016-11-16 10:46] bordatesz commented on #425
Hi there,
In the latest version, Timetracker adapts the JIRA time format. Time spent, Duration and Remaining will be displayed in hours if it has been set in the [Time Tracking settings](https://confluence.atlassian.com/adminjiraserver071/configuring-time-tracking-802593086.html).
- In case of hours time format, JIRA uses hour format and fractions only in quarters, eg. 03:30 will be 3.5h, but 03:4

[2016-11-17 15:11] bordatesz commented on #425
Hi @a-aristar
Was my previous comment helpful?

[2016-11-18 07:09] a-aristar commented on #425
@bordatesz thanks a lot. This is exactly what I asked for.

[2016-11-18 07:09] #425 closed, assigned to nobody

[2016-11-18 09:13] bordatesz commented on #425
Hi @a-aristar ,
Glad I could help!
If you are satisfied with our Timetracker, please write a review on the [Marketplace](https://marketplace.atlassian.com/plugins/org.everit.jira.timetracker.plugin/server/overview). We really appreciate it!

Regards,
Attila

[2016-12-02 17:40] javathought opened #440 "some durations in format hh:mm block creation/update of worklog (on 3.3.2)"
I'm not able to input 02:00 04:00 or 08:00 as a duration  (error: "Unsuccessful worklog update.")
but I can type 4h or 4:30.

It's seems to occurs on even hours (full).

[2016-12-03 12:51] bordatesz commented on #440
Hello @javathought
We will investigate this issue. Thank you for your feedback.

[2016-12-05 08:42] bordatesz commented on #440
Hi @javathought
Unfortunately, we didn't able to reproduce the problem. With the same version, we didn't dedect any irregularity.
Can you attach some screenshots or logs?

[2016-12-16 17:44] jrogers512 opened #445 "RFE: API"
It'd be great to have an API for this plugin, that would allow me to log work (or get reports of logged work) from other applications and/or command line tools.

[2016-12-17 11:55] bordatesz commented on #445
Hi @jrogers512
We are not planning to extend Timetracker with any kind of API, but please check out our [Worklog Query](https://marketplace.atlassian.com/plugins/org.everit.jira.worklog.query.plugin.core/server/overview) plugin, with which you can query worklogs through REST API.
For adding worklog, you can use the default JIRA REST API, what you can [see here](https://docs.atlassian.com/jira/REST

[2016-12-19 09:54] #382 closed, assigned to bordatesz

[2016-12-19 13:42] #445 closed, assigned to nobody

[2016-12-19 14:33] bordatesz commented on #403
Hello @konstantinkosev
We added Time Zone support to the latest Timetracker versions. Please try it out and let me know if it's solved this issue.

[2016-12-20 11:05] #440 closed, assigned to nobody

[2017-01-03 09:57] MaSergiu opened #459 "When adding worklog for current date, it saves it for previous date."
Hello.
First of all let me thank you for your work on this plugin.
Here's what problem I'm facing:
 - before pressing "Save" button - http://pix.toile-libre.org/upload/original/1483437321.png
 - after pressing "Save" button - http://pix.toile-libre.org/upload/original/1483437360.png
Good luck.

[2017-01-03 10:07] bordatesz commented on #459
Hello @MaSergiu
Thank you for the feedback!
Can you show me the following settings?
- Do you use User profile or System TimeZone settings in the Timetracker?
- What is your current user profile time zone? Is there any difference between your location's timezone (eg. in your os, or browser) and what is selected in your profile?
- What is your system (server) timezone?

[2017-01-03 10:24] MaSergiu commented on #459
Hi @bordatesz
I'm pleasantly surprised with your fast answering process.

I hope the following screen-shots will answer to your questions:
1. http://pix.toile-libre.org/upload/original/1483438910.png - it's System setting
2. http://pix.toile-libre.org/upload/original/1483439006.png - there is a difference of 1 hour
3. http://pix.toile-libre.org/upload/original/1483438965.png - the same hour.

Than

[2017-01-03 10:48] bordatesz commented on #459
Hi @MaSergiu
We are trying to reproduce the problem, but this is a very mysterious bug, so if you don't mind, I have more questions.
- Can you provide me some additional information about your DateTime settings in JIRA's Advanced and Look and Feel settings?
- Is there a reason why do you use 12-hour format?
- Isn't your clock one hour ahead? (Based on your Ubuntu screenshot. We are in the same Tim

[2017-01-03 11:44] MaSergiu commented on #459
Hello @bordatesz
Here are the answers for your last request:
1. http://pix.toile-libre.org/upload/original/1483443439.png - Look and feel settings;
2. This format was installed by the server administrator of Jira;
3. You're right. Jira users are in UTC+2.00 (Bulgaria, Cyprus, Estonia, Finland, Greece, Israel, Latvia, Lebanon, Lithuania, Moldova, Northern Cyprus, Palestine, Romania, Syria, Ukraine)

[2017-01-03 13:51] MaSergiu commented on #459
I don't know if it helps, but here are other observations:
http://pix.toile-libre.org/upload/original/1483451442.png
Case 1. Being on Tracker's screen at the current date press the "Previous date" button.
    Result ---> It doesn't show the previous date (expected 02/Jan/17), but one day earlier 1/Jan/17;
Case 2. Being on Tracker's screen at the current date press the "Next date" button.
    Resul

[2017-01-03 14:32] bordatesz commented on #459
Hi @MaSergiu
Thank you again! We identified the problem and already working on it and I'll notify you as soon as we released the fix.

[2017-01-05 12:30] balazs-zsoldos opened #460 "Start time should jump back to beginning of day if we switch day without editing"
If we switch a day

- and we are currently editing an item, the start, end and duration fields should stay as they are
- and we are not editing an item currently, the start-time should be the end of the last record on the day or the beginning of the day if there is no record

If we switch the date and we are not editing currently, the duration (or end of time) should be set to a full working day b

[2017-01-16 09:16] praveen6300 opened #462 "Add "Parent_Issue_key" and "Parent_Issue_Description" columns to Reporting page drilldown"
Hi,

My request is to add Parent issue_key and Parent Issue_description in drilldown of Time Tracker->Reporting.

Please find attached screenshot.

Regards,
Praveen Kumar C
![report_drilldown](https://cloud.githubusercontent.com/assets/12622212/21977134/edcf11b8-dbfa-11e6-941d-37ea3e6a36a5.png)

[2017-01-16 10:03] bordatesz commented on #462
Hello @praveen6300
Thank you for your request. We will consider it in the future.

[2017-01-23 10:17] mhanysz opened #465 "Stack Overflow when using Filter to create Report"
When using a saved filter to create a report with time tracker, a StackOverflowException occurs as shown below.

The used filter is called test and configured as follows:

When using the time tracker drop down menus to filter for all issues in the project TEST, the report is generated successfully.

Stacktrace:

[2017-01-23 10:49] bordatesz commented on #465
Hello @mhanysz
Thank you for the report. We will look into it!

[2017-01-23 11:04] bordatesz commented on #465
@mhanysz
If you don't mind, I have a few question:
- What JIRA version do you use?
- What Timetracker version do you use?
- What type of Database do you use with JIRA?
- Did you select any user or group when you query with the filter?
- For what date interval did you run the query?
- Have you checked that the filter otherwise runs as expected on the Issue search page in JIRA?

[2017-01-23 11:40] mhanysz commented on #465
Hi @bordatesz,
Thank you for looking into this.

- JIRA Version: v7.2.4
- Timetracker Version: 3.4.1
- Database: SQL Server 2012
- no user was selected (User: All, Group: None)
- the default date interval was used (16/01/17 - 23/01/17)
- the filter works on the issue search page

[2017-01-23 12:02] bordatesz commented on #465
Thank you! I'll let you know if we identified the cause.

[2017-01-25 14:54] subfxnet commented on #465
We are also experiencing this stack trace issue.

JIRA Version: v7.2.6
Timetracker Version: 3.4.1
Database: PostgreSQL 9.6
A single user selected, nogroup
the date interval didn't seem to matter, we tried several from 1 day to 1 month.
the filter works on the issue search page

[2017-01-25 19:36] gitemconte commented on #462
I agree, this would be a very useful feature for teams that log time on sub-tasks only.

I actually came here to add an enhancement request to add a 'GROUB BY' feature in the reporting, so I can group all sub-tasks by their parent story, however, I think just having these columns and being able to sort on them would be exactly enough.

[2017-01-30 01:59] nstayte opened #472 "Reporting - Quick Summary, add Organisation and Customer"
Under the reporting option it would be nice to have the quick summary show the time logged against a customer or organisation.

[2017-01-30 09:42] bordatesz commented on #472
Hello @nstayte
Thank you for your feedback!

How do you identify your customers/organizations in your JIRA? Do you use custom fields for this purpose?

[2017-01-30 09:48] bordatesz commented on #465
Hello @mhanysz , @subfxnet
Can you tell me about how many Issues were queried with the filter?

[2017-01-30 11:39] nstayte commented on #472
Hi @bordatesz, thanks for your hard-work. We are using Jira Service Desk. The reporter is the customer and the customer can belong to an Organisation. Organisations are a recent addition to the Jira Service Desk.

Link to organistaions https://confluence.atlassian.com/servicedeskcloud/blog/2016/09/group-customers-in-organizations

[2017-01-30 12:16] bordatesz commented on #472
Hello @nstayte
Thank you! We were not aware of this, but in the future, we will definitely look into this. :)

[2017-01-30 14:33] subfxnet commented on #465
The issue quantity doesn't seem to matter.  I receive the 500 error on many ranges of issue count, from 1 to ~ 300.  The important detail I think is that the query always works if I manually create it via the web form.  I only get the 500 error when generating the report from a saved filter.

The stack trace is exactly as @mhanysz reported in the original issue.

[2017-01-30 20:22] bordatesz commented on #465
We finally identified the root cause of this error. The issue quantity does matter, but not the number of issues in the query, but generally in the JIRA (or in the affected projects).
We use a different query in the webform and for the filters, but we will fix this in the near future.
Thank you for your report and for your patience!

[2017-01-31 12:07] bordatesz commented on #459
Hello @MaSergiu
We just released the fix for this error. Please upgrade Timetracker and let me know if it solved your issue.

[2017-01-31 12:09] bordatesz commented on #403
Hello @konstantinkosev
Sorry for the delay with this issue. We just released the fix for this error. Please upgrade Timetracker and let me know if it solved your issue.

[2017-01-31 12:20] MaSergiu commented on #459
Hello.
Thank you for your job.
My problems are solved.
Good luck in further development.

[2017-01-31 12:38] bordatesz commented on #459
Thank you!

[2017-01-31 12:38] #459 closed, assigned to nobody

[2017-02-01 08:24] konstantinkosev commented on #403
@bordatesz

Yes, the issue with the latest version is solved. Confirmed.
This thread is not needed any more.

Thank you for the efforts spent here. Great job!

[2017-02-01 08:24] #403 closed, assigned to nobody

[2017-02-15 14:37] bordatesz commented on #465
Hello @mhanysz , @subfxnet
The new Timetracker version with the possible fix is out. Can you please try it out and tell me if it's solved this issue?

[2017-02-16 14:12] mhanysz commented on #465
Hello @bordatesz ,
we updated TimeTracker to the latest version and are now able to create TimeTracker reports using filters. Thanks a lot for fixing this issue.

[2017-02-16 14:12] #465 closed, assigned to bordatesz

[2017-02-20 08:41] FannyMendez-Valiantys opened #493 "Notification email"
Hello,

I've found the following page on your documentation : (https://confluence.everit.biz/display/TD/Notification+email)
Is there any way to disable those notifications at all ? I didn't found this settings anywhere.

Thank you !
Regards,
Fanny

[2017-02-20 08:53] bordatesz commented on #493
Hello @FannyMendez-Valiantys
Choose JIRA-Administration > Add-ons. > Locate TIMETRACKER section > Open Global Settings page:
In the older versions, put the following expression in the input field: .*
In the newer version, simply select "None" option, to disable the notification emails.

[2017-02-20 10:43] FannyMendez-Valiantys commented on #493
Thank you very much @bordatesz :+1: :)

[2017-02-20 10:43] #493 closed, assigned to nobody

[2017-03-01 13:28] senyor opened #496 "Typo in screenshots"
There is a typo in screenshots of Atlassian Marketplace.
Written "feaure" instead of "feature".

[2017-03-01 15:14] bordatesz commented on #496
Thank you for the feedback. It will be replaced in the future.

[2017-03-01 15:14] #496 closed, assigned to nobody

[2017-03-31 07:38] pieViks opened #501 "Mandatory "Description" Field on Add Work Log"
Is it possible to make the current optional "Description" field on the Add Work Log mandatory?

[2017-03-31 07:50] pieViks opened #502 "Adding JIRA Custom Fields to Reports"
Is it possible to add JIRA's custom fields to reports?

[2017-04-01 04:21] pieViks opened #503 "Time of Logging"
I've set Timetracker to use System Timezone.

**Case # 1**
My JIRA configuration and time-zone settings are as follows:
Default user time zone:	Region = System Default, Time Zone = (GMT+01:00) Rome
User Local Time Zone is: UTC + 5:30
User JIRA Preferences (Profile Settings) Time Zone is: (GMT+01:00) Rome

While I log the work using JIRA Log Work, the recorded time is 5:53 AM (correct one) whereas

[2017-04-01 10:06] glen-84 opened #504 "Show summaries in hours (in tooltip)"
For summaries like this:

Could you please show the total number of hours (e.g. `170.0833`) – maybe in a tooltip?

Thanks.

[2017-04-01 11:47] bordatesz commented on #501
Hello there,
This is currently not possible with Timetracker, but we add this feature request to our backlog.

[2017-04-01 11:52] bordatesz commented on #502
Developing a solution to add custom fields to reporting is a highly requested and long-planned improvement, but unfortunately, it's quite a difficult task with the development framework. In short: The flexibility of JIRA, which provides convenience when adding custom fields, makes the query of the fields difficult for us.
We're trying to find a solution without a large performance loss. I hope we

[2017-04-01 12:05] bordatesz commented on #504
Hello there,
This is already implemented and possible in the latest versions of Timetracker. (After the new design, so version 2.6.0 and 3.2.0)

[2017-04-01 12:20] bordatesz commented on #503
What Timetracker version do you use?

By default, the plugin uses the system time zone (the configured server timezone on which the JIRA instance is running) to show and to store dates.
By using the "User profile setting" the dates and times will be shown in the user's time zone throughout the plugin. Timetracker does not deal with the local timezone.
If the user's profile settings differ from the

[2017-04-01 12:39] pieViks commented on #503
I'm using version 3.4.4.

I've read the same explanation in the user guide but there seems to be an issue with the time of recording. I'll do some more test next week.

We've a distributed team with team members working in different time-zones so it could be all very tricky. Need to perform few different tests.

Thanks for your response.

[2017-04-01 13:07] bordatesz commented on #503
Timezone is always a hard thing in distributed teams I think. We provide two solution:
1. Using system timezone: In this case, everybody is on the same page, and see exactly the same dates and times IF everybody using Timetracker. (JIRA will add timezone on it's pages.)
2. Using user timezone: In this case, each user will see the datetimes in his configured timezone, but there will be difference i

[2017-04-01 16:22] glen-84 commented on #504
I didn't really want to change the general/default time format, I was just suggesting this as an additional feature.

[2017-04-02 11:10] bordatesz commented on #504
@glen-84
In this case, I have good news for you. This will be available in the next version as a user option. :) You will be able to display times in hours as a decimal number.

[2017-04-02 11:46] glen-84 commented on #504
Awesome, thanks Attila.

[2017-04-02 16:15] #504 closed, assigned to nobody

[2017-04-03 09:59] bordatesz commented on #462
Hello there,
I'm happy to tell you, that "Parent Issue" and "Sub tasks" columns will be available in the next version.

[2017-04-03 09:59] #462 closed, assigned to nobody

[2017-04-04 15:52] SharXeniX opened #505 "Broken date selector in Create Issue window"
if you try to create an issue while the time tracker page is open (click on Create on top of the page)
the due date calendar dont show up when you click the calendar icon.

The calendar popup is created under the create issue windows.
Seems to be z-index related.

[2017-04-04 17:17] bordatesz commented on #505
Hello @SharXeniX
Thank you! This is a big deal, and we will fix it as soon as possible.

[2017-04-07 13:05] Magnus1990P opened #506 "Time registration fails due to "Invalid End Time""
Registration of work fails due to invalid times being inserted, even though they appear to be correct.
Time zone is set to "system settings" server and Europe/Oslo.

The issue appeared after upgrading to 3.4.4 for Jira Server 7.0.10. And an example of the issue is provided below. Sometimes the reloaded page appends a space at the end of the time values also.

![capture](https://cloud.githubusercon

[2017-04-07 14:20] bordatesz commented on #506
Hello @Magnus1990P
This error is probably caused by your Look and Feel time configuration.
Please review your Look and Feel settings and search for unnecessary space character in the time input field.

[2017-04-08 19:07] Magnus1990P commented on #506
That solved the problem.
Thanks for prompt reply, @bordatesz .

[2017-04-08 19:07] #506 closed, assigned to nobody

[2017-04-12 12:12] bordatesz commented on #505
This will be fixed on all Timetracker pages in the next version.

[2017-04-12 12:12] #505 closed, assigned to nobody

[2017-04-12 12:13] bordatesz commented on #503
Hello @pieViks
Any progress with the testing?

[2017-04-12 12:15] #502 closed, assigned to nobody

[2017-04-12 12:16] bordatesz commented on #501
This will be available in one of the next versions as an admin setting.

[2017-04-12 12:16] #501 closed, assigned to nobody

[2017-04-12 12:18] bordatesz commented on #472
In the future, we will improve the support for Service Desk. We will be able to provide solutions for the organization field after solving the problem with custom fields.

[2017-04-12 12:18] #472 closed, assigned to nobody

[2017-04-12 12:19] pieViks commented on #503
I've gone ahead with the System TimeZone. Still observing the results to evaluate the behaviour.
By the way, one of the feature we would like to have it is override the AM/PM clock with 24 hours clock. It seems a JIRA setting but is it possible to have a plugin settings to override it as well?

[2017-04-12 12:20] bordatesz commented on #409
This issue is closed due to a lack of contribution. We will implement the auto logging in the future.

[2017-04-12 12:20] #409 closed, assigned to nobody

[2017-04-12 12:29] bordatesz commented on #460
"If we switch a day and we are currently editing an item, the start, end and duration fields should stay as they are / and we are not editing an item currently, the start-time should be the end of the last record on the day or the beginning of the day if there is no record" - Fixed in the latest version.

"If we switch the date and the duration field was active previously (not the end-time), the d

[2017-04-12 12:29] #460 closed, assigned to bordatesz

[2017-04-12 12:50] bordatesz commented on #503
Unfortunately, it's not possible. Timetracker uses the JIRA date and time settings to display them, and this way it's consistent with what users see in JIRA (eg. on issue pages).
If we receive more requests for this functionality, we'll certainly consider the implementation in the future.

If you want to use 24-hour format, you should use the following Look and Feel configuration:
- Time Format: H

[2017-04-12 12:57] pieViks commented on #503
Thank you for your response. Yes I'm aware of the fact that the setting will change the format throughout JIRA..Thanks again!

[2017-08-30 13:52] bcersows opened #507 "Wrong remaining time when logging in sub-tasks"
Hey guys.

There's a little -- but really annoying -- bug when using sub tasks and logging in them.
On the main issue, the remaining time label is not getting updated (the progress bar is, though).

See the following screenshots:
![image](https://user-images.githubusercontent.com/1199637/29875680-048b53ec-8d9b-11e7-9592-ce1e1c5def37.png)

![image](https://user-images.githubusercontent.com/1199637/

[2017-08-30 14:13] bordatesz commented on #507
Hello @bcersows ,
Does the sub-task Issue have an estimated time?

Note, that in JIRA the parent time remaining time will decrease if:
1. The parent had time logged against it, or
2. The parents remaining time can only be burnt down by the amount it inherited from the subtask's time remaining.

[2017-08-30 14:18] bcersows commented on #507
Hey @bordatesz,

yes, the subtask has 3 hours logged against it (which are correctly gathered for the `logged` bar).
It did not have an estimate set. But I even after editing to add one, the remaining time does not calculate directly. The added estimate of the subtask is added to the main issue's estimate, though.

Cheers

[2017-08-30 14:37] bordatesz commented on #507
Unfortunately, by Atlassian's design, this is the expected behaviour in this case.
Simply put, you need to estimate (Original Estimate) the parent and the sub-task issue before you start to work on them to behave as you expected here. (So this is not related to our Timetracker, this is the default.)
For more information,  see the following links:

- https://jira.atlassian.com/browse/JRA-31017
- ht

[2017-08-31 12:29] bcersows commented on #507
Thanks a lot for your explanations. :)

[2017-08-31 12:29] #507 closed, assigned to nobody

[2019-07-11 08:43] imoes opened #508 "Error rendering 'org.everit.jira.timetracker.plugin:jttp-issue-section'."
![image](https://user-images.githubusercontent.com/32100851/61036290-1d7d0f80-a3c9-11e9-9250-b50528b3386f.png)

[2019-07-11 08:45] imoes commented on #508
After Installing Time Tracker Plugin in Issues dispalays Error Message in Reporting:

Something went wrong!

Please report this error on the Timetracker feedback form, so we can fix it as quickly as possible. Details are useful in identifying errors and bugs, so please try to explain how can we reproduce the problem.

Technical Details

    <?xml version="1.0" encoding="UTF-8" standalone="yes"?><s

[2019-07-11 09:46] bordatesz commented on #508
Hello @imoes

- What Timektracker version is affected by this issue? Did you upgrade to the latest 4.3.1 version?
- What Jira version do you use?
- What kind of Database do you use?

Please note, that we provide official support here: https://everit.atlassian.net/servicedesk/customer/portal/4
I would appreciate if you can open a ticket there for this issue with the requested information.

[2019-07-13 08:53] bordatesz commented on #508
Please upgrade to the latest 4.3.1 version. I think it will solve this issue.

[2019-07-13 08:53] #508 closed, assigned to nobody

[2019-07-13 08:53] #503 closed, assigned to nobody

[2020-10-26 20:24] HFG-InfoTech opened #511 "Recent permission change now throws a 500 when trying to reach the permission configuration."
[c.a.j.web.servlet.InternalServerErrorServlet] {errorId=06c3e5bb-209d-4803-9a27-075134728499, interpretedMsg=, cause=java.lang.ClassCastException: org.everit.jira.timetracker.plugin.dto.UserGroupPickerDisplayDTO cannot be cast to java.lang.Comparable, stacktrace=java.lang.ClassCastException: org.everit.jira.timetracker.plugin.dto.UserGroupPickerDisplayDTO cannot be cast to java.lang.Comparable

[2020-10-28 08:06] attila-kiss-it commented on #511
Hello HFG-InfoTech,

We just released a newer (4.8.0) version of Timetracker. After updating to it, you should no longer experience this issue.

Please let us know how it goes.
Thank you!

Regards,
Attila

[2022-11-06 21:50] luboA opened #516 "Import data from external source"
I can't find any mention about import functionality. I would like to import time tracking data in CSV format. This functionality should be on simple CSV in format Date,TimeFrom,TimeTo,Duration,IssueName,Note . At least two valiation should be done:

1. Valid for duplicities (also with data in timetracker)
2. Valid for the same values if TimeTo and Duration is defined (there should be defined just